/*  Cascading Sytle Sheet(css) : 덮어씌워지다.
    부모,조상(상위) 태그의 특성을 덮어쓸 수 있다.
    선택자(selector)

    -id : # div명
    -class : .div명
*/
.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

#header-center{
    margin: 0 auto; 
    width: 1080px;
}

#header-search > h1{
    width: 198px;
    height:48px;
    display: inline-block;
    background-image: url('../img/naver_logo.png');
}

#header-search fieldset {
    width: 520px;
    display: inline-block;
}

/*
#header-center h1{
    자손 선택자
}
*/